* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.header {
  padding: 2rem;
}
.header img {
  width: 8rem;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}
.container .banner {
  width: 100%;
  height: 250px;
  background-image: url(../images/hero-mobile.jpg);
  background-size: cover;
}

.container .left {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 8em;
}
.left h1 {
  color: hsl(0, 6%, 24%);
  font-size: 3rem;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
  margin-top: 1em;
}
span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}
p {
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
  text-align: center;
}
.container form {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin: 0 auto;
}
.container form input {
  position: absolute;
  border: 1px solid hsl(0, 36%, 70%);
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  border-radius: 50px;
  font-size: 1rem;
  padding-left: 1.5rem;
  background: transparent;
}

.container form button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  width: 70px;
  height: 100%;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 3px hsl(0, 36%, 70%);
}
.container form button:hover {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 93%, 68%));
}
.container form .error-text {
  color: hsl(0, 93%, 68%);
  margin-right: 2rem;
  padding-top: 4rem;
  display: none;
}
.container form .error_img {
  position: absolute;
  top: 0.8rem;
  right: 5rem;
  display: none;
}
.container form.error .error-text,
.container form.error .error_img {
  display: block;
}
@media (min-width: 768px) {
  .container .banner {
    background-position: top center;
  }
  form p {
    text-align: start;
    margin-left: 2rem;
  }
}
@media (min-width: 960px) and (max-width: 1440px) {
  .container {
    flex-direction: row;
  }
  .header {
    position: absolute;
    padding: 10vh 0 0 12vw;
  }
  .header img {
    width: 100%;
  }
  .container .banner {
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    height: 100vh;
    width: 40%;
  }
  .container .left {
    background-image: url(../images/bg-pattern-desktop.svg);
    height: 100vh;
    width: 60%;
    padding: 20vh 20vw 0 12vw;
  }
  .container .left h1,
  p {
    text-align: start;
  }
  .container .left h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .container .left p {
    line-height: 2rem;
  }
  .container .left p {
    font-size: 1rem;
  }
  .container form {
    justify-content: start;
    margin: 0 auto;
  }
}
